{% extends "journal/base.html" %}

{% block content %}

<div class="card">

<h2>Добавить оценку</h2>

<form method="post" class="form">

    {% csrf_token %}

    <!-- ========================= -->
    <!-- КУРСАНТ -->
    <!-- ========================= -->

    <label>Курсант</label>
    {{ form.cadet }}

    <!-- ========================= -->
    <!-- ПРЕДМЕТ -->
    <!-- ========================= -->

    <label>Предмет</label>
    {{ form.subject }}

    <!-- ========================= -->
    <!-- УРОК (ID) -->
    <!-- ========================= -->

    <label>ID занятия</label>
    <input
        type="number"
        name="lesson_id"
        class="form-input"
        placeholder="Введите ID занятия"
        required
    >

    <!-- ========================= -->
    <!-- ОЦЕНКА -->
    <!-- ========================= -->

    <label>Оценка</label>
    {{ form.value }}

    <!-- ========================= -->
    <!-- КНОПКА -->
    <!-- ========================= -->

    <button type="submit">
        Сохранить
    </button>

</form>

</div>

{% endblock %}