{% extends "journal/base.html" %}
{% load journal_tags %}

{% block content %}

<div class="card">

<h2>Журнал</h2>

<!-- ФИЛЬТРЫ -->
<form method="get" id="filterForm" class="filters">

<label>Группа</label>
<select name="group" id="groupSelect">
    {% for g in groups %}
        <option value="{{ g.id }}"
            {% if group_id == g.id|stringformat:"s" %}
                selected
            {% endif %}
        >
            {{ g.name }}
        </option>
    {% endfor %}
</select>


<label>Предмет</label>
<select name="subject" id="subjectSelect">
    {% for s in subjects %}
        <option value="{{ s.id }}"
            {% if subject_id == s.id|stringformat:"s" %}
                selected
            {% endif %}
        >
            {{ s.name }}
        </option>
    {% endfor %}
</select>

</form>


<!-- ГОД -->
{% if lessons %}
<h3 class="journal-year">
    {{ lessons.0.date|date:"Y" }}
</h3>
{% endif %}


<!-- ЖУРНАЛ -->
<div class="journal-table">

<table>

<tr>
<th>Курсант</th>

{% for lesson in lessons %}
<th>{{ lesson.date|date:"d.m" }}</th>
{% endfor %}

</tr>

{% for cadet in cadets %}
<tr>

<td>{{ cadet }}</td>

{% for lesson in lessons %}
<td>

<input
class="grade-input"
data-cadet="{{ cadet.id }}"
data-lesson="{{ lesson.id }}"
value="{{ journal|get_item:cadet.id|get_item:lesson.id }}"
maxlength="3"
/>

</td>
{% endfor %}

</tr>
{% endfor %}

</table>

</div>

</div>


<!-- ДАННЫЕ ДЛЯ JS -->
<script>
window.subjectGroups = {{ subject_groups|safe }};
</script>

{% endblock %}